.bold {
  font-weight: bold;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafbfc;
  padding: 3rem;
  gap: 20px;
  justify-content: space-evenly;
}

.title {
  color: #225fa1;
}

.text {
  margin-bottom: 20px;
}

.content {
  display: flex;
  align-items: center;
  margin-top: 40px;
  padding: 0 120px;
}

.content img {
  height: 350px;
  width: auto;
}

.goalList {
  list-style-type: disc;
  padding: 0;
  text-align: left;
  margin-left: 150px;
}

.goalItem {
  margin-bottom: 10px;
  font-family: "Kodchasan", sans-serif;
  font-size: 18px;
}
