.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fafbfc;
  padding: 20px;
  margin: 0 auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.nav-links {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  flex: 1;
  gap: 40px;
}

.nav-links li {
  margin-right: 20px;
  cursor: pointer;
}

.nav-links li a {
  font-family: "Kodchasan", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  color: #0f0f0f;
  text-decoration: none;
  position: relative;
}

.nav-links li a:hover::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -2px;
  height: 1.5px;
  background-color: #0f0f0f;
}

.account-icon {
  font-size: 24px;
}
