.title {
  font-family: "Kodchasan", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  text-decoration: none;
}

.container {
    background-color: #ffffff;
    color: black;
    padding: 3rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
  }
  
  .vacancyBox {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    margin-top: 40px;
    width: 80vw;
    border: .75px solid #DADADA;
    border-radius: 22.5px;
  }
  
  .requisite {
    font-family: "Kodchasan", sans-serif;
    font-size: 15px;
    font-weight: 400;
    background-color: #ededed;
    color: #0f0f0f;
    padding: 20px;
    border-radius: 5px;
    align-items: center;
  }
  
  