.formContainer {
  background-color: #ffffff;
  padding: 25px;
  border-radius: 22.5px;
  width: 950px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.75px solid #b8b8b8;
}

.formGroup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 15px;
}

.formGroup input,
.formGroup select {
  flex: 1;
}

.formContainer input,
.formContainer select {
  width: 100%;
}

.formGroup input,
.formGroup select,
.formContainer input,
.formContainer select {
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 15px 20px;
  border: 0.75px solid #b8b8b8;
  background-color: #ededed;
  font-family: "Kodchasan", sans-serif;
  font-weight: 700;
  color: #0f0f0f;
  font-size: 16px;
}

.formGroup input::placeholder,
.formGroup select option,
.formContainer input::placeholder,
.formContainer select option {
  font-family: "Kodchasan", sans-serif;
  font-weight: 700;
  color: #0f0f0f;
  font-size: 16px;
}

.button {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 13.5px;
  color: #ffffff;
  border: none;
  background-color: #3a5471;
  height: 40px;
  width: 182px;
  border-radius: 4px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
}

.attachButton input[type="file"] {
  display: none;
}

.attachButton {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 13.5px;
  color: #ffffff;
  border: none;
  background-color: #3a5471;
  height: 40px;
  width: 182px;
  border-radius: 4px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  line-height: 40px;
}
