.container {
  display: flex;
  min-height: 100vh;
  background-color: #fafbfc;
}

.height {
  height: 100%;
}

.panel {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  width: 100%;
  text-align: center;
}

.title {
  font-size: 64px;
  font-weight: 700;
  font-style: normal;
  color: #225fa1;
}

.utils {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.widgets {
  position: absolute;
  display: flex;
  align-items: center;
  right: 0;
  top: 0;
  justify-content: center;
  gap: 30px;
}

.dashboard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

@media screen and (max-width: 768px) {
  .dashboard {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .dashboard {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

@media screen and (max-width: 1200px) {
  .dashboard {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}




